.title {
	display: flex;
	background-color: #d7827e;
	justify-content: space-evenly;
	color: #faf4ed;
	min-width: 40%;
	max-width: 60%;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-weight: 700;
	cursor: default;
	padding-left: 20px;
	padding-right: 20px;
}

.subtitle {
	cursor: default;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 40%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
