.item {
	display: flex;
	flex: 1;
	align-items: center;
	text-align: center;
	flex-direction: column;
	min-height: 11.5rem;
	min-width: 300px;
	max-width: 30%;
	background-color: #575279;
	box-shadow: 7px 7px 7px #907aa9;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin: 1%;
	margin-bottom: 4%;
}

.title {
	font-size: 28px;
}

.description {
	font-size: 17px;
	max-width: 70%;
	text-align: left;
}
